body {
  background: #bbb;
}
body > div {
  background: #ddd;
  color: #222;
  border-radius: 3px;
}
.dark {
  background: #222;
  color:#ddd;
}
.bar {
  background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.2),rgba(0,0,0,0.1));
}
.dark nav a {
  background: rgba(255,255,255,0.4);
  border-radius: 3px;
}
a,
a:link,
a:visited,
a:active,
a:focus,
a:hover {
  color: #222;
  font-style: normal;
  text-decoration: underline;
}
.dark a,
.dark a:link,
.dark a:visited,
.dark a:active,
.dark a:focus,
.dark a:hover  {
  color: #ddd;
}
pre {
  background: rgba(255,255,255,0.25);
}
