body {
  background: #bbb;
}
body > div {
  background: #ddd;
  color: #222;
  border-radius: 3px;
}
.dark {
  background: #222;
  color:#ddd;
}
.bar {
  background-image: linear-gradient(top,rgba(255,255,255,0.3),rgba(255,255,255,0.2),rgba(0,0,0,0.1));
}
