<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | IDotD</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css" >
        <link rel="stylesheet" href="{{ site.baseurl }}/css/design.css" >
        <link rel="stylesheet" href="{{ site.baseurl }}/css/texts.css" >
    </head>
    <body>
        <div class="dark bar">
            <p class="header"><a href="{{ site.baseurl }}/"><strong>IDotD Wiki</strong></a></p>
            <p class="header-note">A tool for Dawn of the Dragons</p>
        </div>
        <div class="dark bar">
            <nav class="nav-primary" role="navigation" >
                <ul>
                    <li><a style="background: rgba(0, 255, 0, 0.4);" href="https://dotd.idrinth.de/idrinth-dotd-script.user.js">Install Userscript</a></li>
                    {% for p in site.pages %}
                        {% unless p.url == '/' %}
                        {% unless p.url == '/assets/css/style.css' %}
                            <li>
                                <a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                            </li>
                        {% endunless %}
                        {% endunless %}
                    {% endfor %}
                    <li><a href="{{ site.baseurl }}/">Manual</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <article>
                <h1>{{ page.title }}</h1>
                {{ content }}
            </article>
        </div>
        <div class="dark bar">
            <footer>
                <p>Content is provided from <a href="https://github.com/IDotD/IDotD.github.io" target="_blank">github.com/IDotD/IDotD.github.io</a>, feel free to help.</p>
            </footer>
        </div>
    </body>
</html>
